[package]
name = "hybrid-array"
version = "0.4.7"
description = """
Hybrid typenum-based and const generic array types designed to provide the
flexibility of typenum-based expressions while also allowing interoperability
and a transition path to const generics
"""
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/hybrid-array"
repository = "https://github.com/RustCrypto/hybrid-array"
categories = ["no-std", "data-structures"]
keywords = ["generic-array"]
readme = "README.md"
edition = "2024"
rust-version = "1.85"

[dependencies]
typenum = { version = "1.17", features = ["const-generics"] }

# optional dependencies
arbitrary = { version = "1", optional = true }
bytemuck = { version = "1", optional = true, default-features = false }
serde = { version = "1", optional = true, default-features = false }
subtle = { version = "2", optional = true, default-features = false, features = ["const-generics"] }
zeroize = { version = "1.8", optional = true, default-features = false }
zerocopy = { version = "0.8", optional = true, features = ["derive"] }

[features]
alloc = []
extra-sizes = []

[lints.clippy]
arithmetic_side_effects = "warn"
borrow_as_ptr = "warn"
cast_lossless = "warn"
cast_possible_truncation = "warn"
cast_possible_wrap = "warn"
cast_precision_loss = "warn"
cast_sign_loss = "warn"
checked_conversions = "warn"
doc_markdown = "warn"
from_iter_instead_of_collect = "warn"
manual_assert = "warn"
map_unwrap_or = "warn"
missing_errors_doc = "warn"
missing_panics_doc = "warn"
mod_module_files = "warn"
must_use_candidate = "warn"
implicit_saturating_sub = "warn"
panic = "warn"
panic_in_result_fn = "warn"
ptr_as_ptr = "warn"
redundant_closure_for_method_calls = "warn"
ref_as_ptr = "warn"
return_self_not_must_use = "warn"
semicolon_if_nothing_returned = "warn"
trivially_copy_pass_by_ref = "warn"
std_instead_of_alloc = "warn"
std_instead_of_core = "warn"
# undocumented_unsafe_blocks = "warn" TODO
unwrap_in_result = "warn"
unwrap_used = "warn"

[lints.rust]
missing_copy_implementations = "warn"
missing_debug_implementations = "warn"
missing_docs = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unused_lifetimes = "warn"
unused_qualifications = "warn"

[package.metadata.docs.rs]
all-features = true
